section {
  display: inline-block;
  margin: 20px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

h1.sectionName {
  margin: 0;
  padding: 10px 0px;
  background-color: rgba(0, 0, 0, 0.05);
}

h1.sectionName:hover {
  color: white;
  background-color: black;
}

div.inpWthLb {
  margin: 30px;
}

label {
  margin-left: 10px;
  float: left;
  color: rgba(0, 0, 0, 0.6);
}

input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  outline: none;
  width: 500px;
  padding: 5px 20px;
}

input:focus {
  border: 1px solid black;
}